.products-container{
  padding: var(--padding-mobile);
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}
.card-product {
  width: min(100%, 220px);
  border-radius: 10px;
  border: 1px solid var(--border-color);
}
.card-product:hover {
  box-shadow: 0 0 5px #0c2575;
}
.card-product__header {
  height: 200px;
  padding: 20px;
  border-bottom: 1px solid var(--border-color);
  position: relative;
}
.card-product__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: opacity 400ms ease-out;
  opacity: 1;
}
.card-product__header:hover .card-product__img {
  opacity: 0;
  transition: opacity 400ms ease-out;
}
.card-product__header:hover .card-product__img-back {
  opacity: 1;
  transition: opacity 400ms ease-out;
}
.card-product__img-back{
  position: absolute;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  object-fit: contain;
  z-index: -1;
  opacity: 0;
  transition: opacity 400ms ease-out;
}
.card-product__body {
  padding: 20px;
  padding-bottom: 40px;
  position: relative;
}
.card-product__title{
  font-size: 1.1rem;
  margin-bottom: 15px;
  height: 42px;
  cursor: pointer;
}
.card-product__price-label {
  font-size: 0.8rem;
  color: #888a;
  position: relative;
  left: -5px;
  margin-bottom: 3px;
}
.card-product__price-number {
  font-size: 1rem;
  font-weight: 700;
}
.card-product__btn {
  position: absolute;
  right: 20px;
  bottom: 30px;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none; 
  border: 2px solid var(--secondary-color);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transition: background 0.7s ease;
}

.card-product__btn:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  cursor: pointer;
  transition: background 0.7s ease;
}

.form-home {
  margin-top: 150px;
}

input {
  border: 1px solid #d4d4d4;
  border-radius: 5px 0 0 5px;
  padding: 8px 0;
  color: #042649;
  font-weight: bold;
}

select {
  border: 3px solid #0b5fcc;
  border-radius: 5px;
  padding: 8px 0;
  color: #042649;
  font-weight: bold;
}

.btn-search {
  background-color: #0b5fcc;
  border: #042649;
  padding: 9px 10px;
  color: #fff;
  border-radius: 0 5px 5px 0;
}

.btn-search:hover {
  background-color: #2581f8;
  cursor: pointer;
}

.input-category{
  margin-left: -20px;
}

.input-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 150px;
  gap: 20px;
  flex-wrap: wrap;
  margin-right: 40px;
}

.category-select {
  width: 230px;
}

.card-alert{
  position: absolute;
  top: 35px;
  right: 2px;
}

@media screen and (max-width: 376px) {
  .input-container {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 20px;
  }

  .input-category {
    color: #042649;
    text-align: center;
    position: relative;
    right: 17px;
    bottom: -10px;
  }
  
}